html {
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background: url("/img/bg-1.jpg") no-repeat;
  background-size: 100%;
  background-position: bottom;
  background-color: #145ca6;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* CARD */
.card {
  border-radius: 10px;
}
.card-title {
  font-weight: 400 !important;
  text-transform: capitalize;
}
.form-title {
  font-weight: 500 !important;
  text-transform: uppercase;
}

form {
  padding: 20px;
  margin-top: 60px;
  background-color: aliceblue;
  border-radius: 20px;
}

form button,
form h5 {
  margin: 20px 0;
}
